html, body{
    min-height: 100%;
    color: lightgrey;
    font-size: 20px;
}

html {
    background-image: linear-gradient(to top right, rgba(9, 30, 59, 1), rgba(59, 55, 62, 1));
}

.zindex0{
    z-index: 0;
}

.zindex1{
    z-index: -1;
    position: absolute;
    width: 600px;
    height: 250px;
    top: 300px;
    border-radius: 25px;
    background-image: linear-gradient(to top right, rgba(39, 30, 59, 1), rgba(59, 55, 62, 1));
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear, z-index .2s 1s;
    font-family: "Lucida Console";
}

.visiblemenu{
    z-index: 1;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;    
}

.addform{
    width: 100%;
    height: 75%;
}

.spandodaj{
    font-size: 25px;
    padding-top: 30px;
}

.dodajprodukt{
    padding-top: 30px;
    text-align: right;
}

.dodajilosc{
    padding-top: 30px;
    text-align: right;
}

input{
    padding-left: 7px;
    font-size: 20px;
    font-family: "Lucida Console";
}

.textbox{
    margin-right: 50px;
    width: 50%;
    height: 20px;
    border-radius: 13px;
}

.opcjetaknie{
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
}

.anuluj{
    width: 50%;
    text-align: center;
}

.dodaj{
    width: 50%;
    text-align: center;
}

.anulujbutton{
    background-image: linear-gradient(to top right, rgba(69, 20, 29, 1), rgba(149, 40, 49, 1));
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Lucida Console";
    border-radius: 10px;
    font-size: 20px;
}

.dodajbutton{
    background-image: linear-gradient(to top right, rgba(20, 69, 29, 1), rgba(20, 149, 29, 1));
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: "Lucida Console";
    border-radius: 10px;
    font-size: 20px;
}

.addform{
    text-align: center;
}

.maxwysokosc{
    height: 800px;
    max-height: 800px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.maxwysokosc::-webkit-scrollbar {
    display: none;
}

.maincontent{
    display: table;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgba(29,30,50,1);
    width: 500px;
    height: 800px;
    max-height: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    text-align: center;
    font-family: "Lucida Console";
    overflow-y: scroll;
}

.itemtemplate{
    background-color: rgba(49,50,70,1);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    width: 95%;
    height: 50px;
    margin-top: 5px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.detale{
    width: 84%;
    height: 100%;
    text-align: left;
    margin-left: 6%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.cokupic, .ilekupic{
    padding: 3px;
}

.delete{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
}

.deleteicon{
    height: 70%;
}

.bottommenu{
    display: flex;
    width: 500px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: whitesmoke;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.home{
    width: 40%;
    height: 100%;
    text-align: left;
    margin-left: 10%;
}

.add{
    width: 40%;
    height: 100%;
    text-align: right;
    margin-right: 10%;
}

#homeicon{
    height: 100%;
}

#addicon{
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .bottommenu{
        width: 100%;
    }
    
    body, html{
        width: 100vw;
        height: auto;
        margin: 0;
        overflow: hidden;
    }
    
    .zindex0{
        height: 100%;
    }
    
    .maincontent, .maxwysokosc{
        height: 94vh;
    }
    
    .maincontent{
        width: 100vw;
    }
    
    .detale{
        margin-left: 5px;
    }
    
    .zindex1{
        width: 75vw;
        height: 40vh;
        top: 200px;
    }
    
    .addform{
        display: block;
    }
    
    .textbox{
        width: 90%;
        margin: auto;
    }
    
    .dodajbutton{
        padding: 6px;
    }
    
    .dodajprodukt{
        text-align: center;
    }
    
    .dodajilosc{
        text-align: center;
    }
}